body{
    background-image: url("../images/backgroundimg.jpg") ;
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% auto;  
}
#game{
    background:transparent;
}