body{
    height: 100%;
    width: auto;
    background-image: url("../images/backgroundimg.jpg") ;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;  
}
#game{
    background:transparent;
}